[build]
  command = "hugo --gc --minify"
  publish = "public"

[build.environment]
  HUGO_BASEURL = "/"
  HUGO_VERSION = "latest"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
